<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="DistEdu">

	<Appenders>
		<File name="MyFile" fileName="logs/distedu/app.log">
			<PatternLayout pattern="%d [%t] %-6p %c{1.} - %m%n"/>
		</File>
	</Appenders>

	<Loggers>
		<Root level="all">
			<AppenderRef ref="MyFile" />
		</Root>
	</Loggers>

</Configuration>