<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>DistEdu - Java Web Book</display-name>

<!-- LISTENERS -->
	<listener>
		<description>HttpSessionListener</description>
		<listener-class>hu.kesik.tutorials.distedu.listener.SessionCounterListener</listener-class>
	</listener>

<!-- SERVLETS -->
	<servlet>
		<display-name>AddCourse</display-name>
		<servlet-name>AddCourse</servlet-name>
		<servlet-class>hu.kesik.tutorials.distedu.control.AddCourse</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>DeleteCourses</display-name>
		<servlet-name>DeleteCourses</servlet-name>
		<servlet-class>hu.kesik.tutorials.distedu.control.DeleteCourses</servlet-class>
	</servlet>
	<servlet>
		<display-name>SetPreferences</display-name>
		<servlet-name>SetPreferences</servlet-name>
		<servlet-class>hu.kesik.tutorials.distedu.control.SetPreferences</servlet-class>
	</servlet>

<!-- SERVLET MAPPINGS -->
	<servlet-mapping>
		<servlet-name>AddCourse</servlet-name>
		<url-pattern>/add_course.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCourses</servlet-name>
		<url-pattern>/delete_courses.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SetPreferences</servlet-name>
		<url-pattern>/set_preferences.do</url-pattern>
	</servlet-mapping>


<!-- LOG4J2 CONFIG -->
	<context-param>
		<param-name>log4jContextName</param-name>
		<param-value>DistEdu</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfiguration</param-name>
		<param-value>file:///WEB-INF/classes/log4j2.xml</param-value>
	</context-param>


</web-app>